<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/nosotros.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nosotros</title>
        
    </head>
    
<body>
    <header>
        <h1>Nosotros</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="{{ url_for('index') }}">Inicio</a>
            <a href="{{ url_for('contacto') }}">Contacto</a>
            <a href="{{ url_for('formulario') }}">Formulario</a>
        </nav>
    </header>
    <main>
        <h3>Misión</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse recusandae illo dolorem at a veritatis, earum rem illum placeat dolor. Delectus optio quam ratione eos nisi quas vitae natus distinctio?</p>
        <h3>Visión</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci itaque, illum nisi quibusdam, non sit alias ipsum optio eveniet debitis veniam in autem molestiae facilis eaque voluptatem sint nemo tempora.</p>
    </main>
    <footer>
        <p>DS PROJECT SAS - RUEDA DE LA VIDA</p>
    </footer>
</body>
</html>
</html>